/* reseteo inicial */
* {
  margin: 0px;
  padding: 0px;
}
/* definiendo estructura inicial desde el body con direccion de columna */
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(227, 235, 213);
  border-radius: 10px;
}

/* definiendo comportamiento de los items en el header a row*/
header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
/* ajustando el logo */
.header__logo {
  margin-right: 10px;
  margin-left: 10px;
  height: 75px;
  width: 180px;
}
/* definiendo comportamiento de los items en el titulo a columna*/
.header__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
}
/* definiendo comportamiento de los items en el menu para que funcione responsive*/
.header__navigation {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}
/* agregando transformaciones y transiciones mediante hover */
 .header__navigation ul li:hover {

  color: blue;
  
  transition: all,1s;
  
  transform:scale(1.1);
  
  background-color: rgb(184, 209, 201);
  
  }
/* definiendo comportamiento de los items en la lista para acomodar el menu en fila y justificando al final*/
ul.header__navigation li {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
}
/* depurando el menu sin la linea */
a {
  text-decoration: none;
}
/* definiendo estructura de la seccion main del index */
.main__information {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  background-color: #afebaf;
  font-size: 15px;
  margin: 50px;
  padding: 10px;
  border-radius: 5px;
}
/*eliminar puntos en las listas pagina : index */
.main__information ul li {
  list-style: none;
}
/* definiendo comportamiento de los items en la seccion principal (main)*/
.main__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
}
/* definiendo estructura global para el fieldset*/
fieldset {
  height: 250px;
  width: 700px;
  margin: 5px;
  background-color: #afebaf;
}
/* adaptando las imagenes para el aprovechamiento general adecuado*/
.img {
  max-width: 100%;
  max-height: 100%;
}
/* redefiniendo el tamano de las imagenes de los players*/
ul.main__players li img.main_image {
  width: 175px;
  height: 220px;
}
/* definiendo la estructura de la secion main para mostrar imagenes de los players y hacerlo reponsive*/
ul.main__players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
/* terminando de ajustar */
ul.main__players li {
  list-style: none;
  font-size: 20px;
}

.footer__copyright {
  height: 300px;
  width: 300px;
}

/* TABLET */
/* se redefiniran las secciones para que se adapten a diseno responsivo en tablet*/
@media (min-width: 541px) and (max-width: 720px) {
  body {
    background-color: lightblue;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header__logo {
    margin: 10px;
    padding: 10px;
    height: 50px;
    width: 140px;
  }

  .header__titulo {
    display: flex;
    flex-direction: column;
    align-items: right;
    flex-wrap: wrap;
    color: blue;
  }

  .main__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: stretch;
    width: 80%;
    background-color: #afebaf;
    font-size: 15px;
    margin: 50px;
    padding: 10px;
    border-radius: 5px;
  }
  fieldset {
    width: 500px;
  }
}

/* CELULAR */
/* se redefiniran las secciones para que se adapten a diseno responsivo en mobiles*/
@media (min-width: 320px) and (max-width: 540px) {
  body {
    background-color: rgb(230, 223, 173);
  }
  .header__logo {
    display: flex;
    margin: 5px;
    padding: 5px;
    height: 50px;
    width: 140px;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header__titulo {
    display: flex;
    flex-direction: column;
    align-items: right;
    flex-wrap: wrap;
    align-content: stretch;
    color: blue;
    font-size: 10px;
  }
  .main__information {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: nowrap;
    align-content: stretch;
    width: 75%;
    background-color: #afebaf;
    font-size: 15px;
    margin: 50px;
    padding: 10px;
    border-radius: 5px;
  }

  ul.header__navigation li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    font-size: 17px;
  }
  ul.main__players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
  }
  fieldset {
    width: 400px;
  }
}
